.main {
    width: 1200px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: -106px;

    &__item {
        height: 63px;
        width: 63px;
    }

    &__item:hover &__logo {
        transform: rotateY(180deg) scale(1.5);
    }

    &__logo {
        height: 63px;
        width: 63px;
        transition: all 0.5s;
    }

    &__header1 {
        margin-top: 13px;
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        line-height: 64px;
        font-size: 48px;
        color: #FFFFFF;
        text-align: center;
    }

    &__header2 {
        margin-top: 42px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        line-height: 32px;
        font-size: 24px;
        color: rgba(255, 255, 255, 0.7);
        text-align: center;
    }
}